<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>SiwFood-Homepage-Cuoco</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
<script src='main.js'></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<nav th:replace="fragments/base.html :: nav"></nav>

	<section class="hero">
		<div class="hero-section">
			<h1>Scopri il piacere della cucina!</h1>
			<h3>ricette semplici e veloci per cuochi di ogni livello</h3>
		</div>
	</section>

	<div class="bg-dark text-white  p-2  py-4">
		<div class="container">
			<h2 class="text-center">Sfoglia le nostre ricette e trova il tuo
				nuovo piatto preferito</h2>
		</div>
	</div>

	<div class="d-flex justify-content-center">
<div class="container-fluid mx-0 ">
	<div class="row row-cols-1 row-cols-lg-3 text-center">
		<div class="col p-4">
			<div class="card rounded-4 ">
				<a href="/ricetta"> <img src="/images/riclibro.jpg"
					class="card-img-top" alt="...">
				</a>
				<div class="card-body">
					<h2 class="card-title fs-2 ">Le nostre Ricette</h2>
					<p class="card-text fs-6 ">Esplora una vasta collezione di
						ricette autentiche, creative e facili da preparare, adatte a ogni
						occasione e gusto. Trova la tua ispirazione culinaria sfogliando
						le nostre diverse categorie, dagli antipasti ai dolci, dai piatti
						principali ai contorni.Stupisci i tuoi commensali con piatti
						deliziosi.</p>
				</div>
			</div>
		</div>
		<div class="col p-4">
			<div class="card rounded-4">
				<a href="/cuoco"> <img src="/images/chef.jpg"
					class="card-img-top" alt="...">
				</a>
				<div class="card-body">
					<h2 class="card-title fs-2">I nostri Cuochi</h2>
					<p class="card-text fs-6">I nostri chef sono guidati da una
						passione sfrenata per la cucina e da un amore per la creazione di
						piatti che uniscono tradizione e innovazione. Si impegnano a
						utilizzare ingredienti freschi e di stagione, provenienti da
						fornitori locali, per garantire la massima qualità e freschezza in
						ogni piatto.</p>
				</div>
			</div>
		</div>
		<div class="col p-4  ">
			<div class="card rounded-4">
				<a href="/ingrediente"> <img src="/images/ingredienti.jpg"
					class="card-img-top" alt="...">
				</a>
				<div class="card-body">
					<h2 class="card-title fs-2">Lista Ingredienti</h2>
					<p class="card-text fs-6">Crediamo che la qualità degli
						ingredienti sia fondamentale per creare piatti deliziosi e
						nutrienti.Ogni ingrediente racconta una storia e porta con sé un
						gusto unico.Con i nostri ingredienti genuini, puoi gustare il vero
						sapore della tradizione e la bontà di prodotti freschi e genuini.</p>
				</div>
			</div>
		</div>

	</div>
</div>
</div>
	<div class="bg-dark text-white  p-2  py-2">
		<div class="container">
			<h2 class="text-center">Operazioni Cuoco</h2>
		</div>
	</div>

<div class="d-flex justify-content-center">
<div class="container-fluid mx-0 ">
	<div class="row row-cols-1 row-cols-lg-3 text-center">
		<div class="col p-5">
			<div class="card border border-dark border-3 rounded-4">
				<div class="card-body">
					<h2 class="card-title">Ricette</h2>
					<a th:href="@{'/cuoco' + '/' + ${cuoco.id} + '/indexRicetta'}"
						class="btn btn-outline-dark mb-2 px-5 py-2 fs-4">Gestisci</a>
				</div>
			</div>
		</div>
		<div class="col p-5 ">
			<div class="card border border-dark border-3 rounded-4">
				<div class="card-body ">
					<h2 class="card-title">Profilo Cuoco</h2>
					<a class="btn btn-outline-dark mb-2 px-5 py-2 fs-4"
						th:href="@{'/cuoco' + '/' + ${cuoco.id}}"
						th:text="${cuoco.nome} +' ' + ${cuoco.cognome}"> Gestisci</a>
				</div>
			</div>
		</div>
		<div class="col p-5  ">
			<div class="card border border-dark border-3 rounded-4">
				<div class="card-body">
					<h2 class="card-title">Ingredienti</h2>
					<a href="/cuoco/indexIngrediente"
						class="btn btn-outline-dark mb-2 px-5 py-2 fs-4">Gestisci</a>
				</div>
			</div>
		</div>
	</div>
</div>

	</div>

	<footer th:replace="fragments/base.html :: footer"></footer>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>

</body>

</html>